<li>
  <%= nav_link_to "Authors", authors_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Books", books_path, class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Suppliers", suppliers_path, class: "nav-link" %>
</li>